<div class="ui center aligned header"><h1 class="ui bball-red header">NCAA Matchup</h1></div>
<div class="ui sixteen wide page grid main-page">
  <div class = "ui eight wide column">
    {{outlet 'teamone'}}
  </div>
  <div class="ui bball-red vertical divider">V.S.</div>
  <div class="ui eight wide column ">
    {{outlet 'teamtwo'}}
  </div>
</div>
